span {
  color: #b0b0b0;
}

.profile {
  height: 100vh;
  width: 100%;

  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;

  grid-template-columns: 1fr;

  justify-content: flex-start;
  align-items: flex-start;

  row-gap: 1rem;

  .profile__header {
    width: 100%;

    display: grid;
    grid-template-columns: max-content 1fr;

    justify-content: flex-start;
    align-items: center;

    column-gap: 1rem;

    .profile__header__photo {
      img {
        width: 10vw;
        border-radius: 10%;
      }
      i {
        font-size: 8vw;
        border-radius: 10%;
      }
    }

    .profile__header__info {
      .profile__header__info__name {
        h2 {
          font-size: 1.8rem;
          font-weight: 500;
          margin: 0;
        }
      }

      .profile__header__info__title {
        span {
        }
      }
    }
  }

  .profile__summary {
    width: 100%;

    .profile__summary__title {
      h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .profile__summary__content {
    }
  }

  .profile__body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    align-items: flex-start;

    row-gap: 1rem;

    .profile__body__content {
      display: grid;
      grid-template-columns: .4fr 1fr;

      justify-content: flex-start;
      align-items: flex-start;

      column-gap: 5rem;

      border-top: #b0b0b0 1px solid;
      padding: 1rem 0 0 0;
      width: 100%;

      .profile__body__content__info {
        .profile__body__content__info__title {
          p {
            margin: 0;
            padding: 0;
            font-size: 1rem;
          }
        }

        .profile__body__content__info__description {
          span {
          }
        }

      }

      .profile__body__content__body {
        height: 100%;

        display: flex;
        flex-flow: column nowrap;

        justify-content: stretch;
        align-items: flex-start;

        row-gap: .5rem;

        .authenticators_list {
          width: 100%;

          display: flex;
          flex-flow: row wrap;

          justify-content: flex-start;
          align-items: center;

          column-gap: 1rem;
          row-gap: 1rem;
        }
      }
    }
  }
}
