<div class="list_container mat-app-background">
  <div class="list_container__header">
    <div class="list_container__header__filter">
      <mat-form-field class="w-100">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="this.applyFilter($event)" #input>
      </mat-form-field>
    </div>
  </div>
  <div class="list_container__body">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="this.class_source" matSort>
        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Subject</strong></th>
          <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Start Date</strong></th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}}</td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>End Date</strong></th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}}</td>
        </ng-container>

        <!-- Professors Column -->
        <ng-container matColumnDef="professors">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Professors</strong></th>
          <td mat-cell *matCellDef="let row">
            <span *ngFor="let professor_instance of row.professors">
              {{professor_instance?.getUser()?.getName()}}
              <span
                *ngIf="row.professors.length > 1 && row.professors[row.professors.length - 1] != professor_instance">,</span>
            </span>
            {{row.professors.length == 0 ? 'No Professor' : ''}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.table_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.table_columns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
