<aside class="navbar navbar-collapsed" navbarCollapseDirective>
  <div class="navbar__header">
    <div class="navbar__header__logo">
      <img
        src="assets/ucema-small-icon.svg"
        (click)="this.router.navigate(['/'])"
      >
    </div>
  </div>
  <div class="navbar__menu">
    <div
      class="menu-item"
      routerLinkActive="menu-item-active"
      [routerLink]="['/courses']"
    >
      <div class="menu-item__icon">
        <i class="bi bi-mortarboard"></i>
      </div>
      <div class="menu-item__title">
        <p>Courses</p>
      </div>
    </div>

    <div
      class="menu-item"
      routerLinkActive="menu-item-active"
      [routerLink]="['/career']"
    >
      <div class="menu-item__icon">
        <i class="bi bi-bar-chart"></i>
      </div>
      <div class="menu-item__title">
        <p>Career</p>
      </div>
    </div>

    <div
      class="menu-item"
      routerLinkActive="menu-item-active"
      [routerLink]="['/grades']"
    >
      <div class="menu-item__icon">
        <i class="bi bi-bookmark"></i>
      </div>
      <div class="menu-item__title">
        <p>Grades</p>
      </div>
    </div>
  </div>
  <div class="navbar__config">
    <div
      class="navbar__config__item"
      (click)="this.authentication_service.logout()"
    >
      <div class="navbar__config__item__icon">
        <i class="bi bi-door-open"></i>
      </div>
      <div class="navbar__config__item__title">
        <p>Logout</p>
      </div>
    </div>
    <div
      class="profile"
      [routerLink]="['/profile']"
    >
      <div class="profile__photo">
        <img src="assets/User-Photo.png">
      </div>
      <div class="profile__info">
        <div class="profile__info__name">
          <p>Martin Perez Cobo</p>
        </div>
        <div class="profile__info__details">
          <p class="text-muted">Ing. Informatica</p>
        </div>
      </div>
    </div>
  </div>
</aside>
