<div class="component mat-app-background">
  <div class="component__side-background">
  </div>
  <div class="component__form">
    <form class="form">
      <div class="form__header">
        <div class="form__header__title">
          <h4>Sign in with your UCEMA ID</h4>
        </div>
        <div class="form__header__subtitle">
          <p>Get access to your academic details.</p>
        </div>
      </div>

      <div class="form__body">
        <!-- ! Email Input -->
        <div *ngIf="auth_type == AuthStagesEnum.EMAIL" class="form__body__input">
          <mat-form-field hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input [formControl]="email" matInput required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
          </mat-form-field>
        </div>

        <!-- ! Password Input -->
        <div *ngIf="auth_type == AuthStagesEnum.CREDENTIALS" class="form__body__input">
          <mat-form-field hideRequiredMarker="true">
            <mat-label>Enter your password</mat-label>
            <input [formControl]="password" [type]="hide_password ? 'password' : 'text'" matInput>
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
            <button (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide_password"
                    mat-icon-button
                    matSuffix
            >
              <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- ! WebAuthn Login -->
        <div *ngIf="auth_type == AuthStagesEnum.WEBAUTHNLOGIN" class="form__body__input-webauthn">
          <i class="bi bi-fingerprint" style="font-size: 5rem;"></i>
        </div>

        <!-- ! Actions -->
        <div class="form__body__actions">
          <!-- * Email -->

          <button (click)="submitEmail()" *ngIf="auth_type == AuthStagesEnum.EMAIL" color="primary" mat-flat-button
                  type="button">
            Next
          </button>

          <!-- * Credentials -->

          <button (click)="submitPassword()" *ngIf="auth_type == AuthStagesEnum.CREDENTIALS" color="primary"
                  mat-flat-button
                  type="button">Login
          </button>

          <button (click)="this.auth_type = AuthStagesEnum.EMAIL" *ngIf="auth_type == AuthStagesEnum.CREDENTIALS"
                  mat-flat-button
                  type="button">
            Back
          </button>
        </div>
      </div>
    </form>
    <div class="related-links">
      <mat-chip (click)="window.open('mailto:alumnosgrado@ucema.edu.ar', '_self')">
        Alumnos Grado
      </mat-chip>
      <mat-chip (click)="window.open('mailto:alumnosposgrado@ucema.edu.ar', '_self')">
        Alumnos Posgrado
      </mat-chip>
      <mat-chip (click)="window.open('mailto:cobranzas@ucema.edu.ar', '_self')">
        Tesoreria
      </mat-chip>
      <mat-chip (click)="window.open('mailto:biblioteca@ucema.edu.ar', '_self')">
        Bilbioteca
      </mat-chip>

      <mat-chip (click)="this.theme_service.setTheme(EThemeOptions.DARK_THEME)"
                *ngIf="this.theme_service.getTheme() == EThemeOptions.LIGHT_THEME"
      >
        <div
          class="d-flex flex-row justify-content-center justify-items-center align-content-center align-items-center column-gap-1">
          <mat-icon
            class="d-flex flex-row justify-content-center justify-items-center align-content-center align-items-center">
            <i class="bi bi-moon-fill" style="font-size: 1.1rem;"></i>
          </mat-icon>
          Dark Mode
        </div>
      </mat-chip>

      <mat-chip (click)="theme_service.setTheme(EThemeOptions.LIGHT_THEME)"
                *ngIf="this.theme_service.getTheme() == EThemeOptions.DARK_THEME"
      >
        <div
          class="d-flex flex-row justify-content-center justify-items-center align-content-center align-items-center column-gap-1">
          <mat-icon
            class="d-flex flex-row justify-content-center justify-items-center align-content-center align-items-center">
            <i class="bi bi-sun-fill" style="font-size: 1.25rem;"></i>
          </mat-icon>
          Light Mode
        </div>
      </mat-chip>
    </div>
  </div>
</div>
